<form action="" method="post">
    <label for="">Nome</label>
    <input type="text" class="form-control" ng-model="pessoa.nome" placeholder="Nome Completo">
    <br/>
    <div class="row">
        <div class="col-md-6">
            <label for="CPF"></label>
            <input type="text" class="form-control" ng-model="pessoa.cpf" placeholder="000.000.000-00">
        </div>
        <div class="col-md-6">
            <label for="RG"></label>
            <input type="text" class="form-control" ng-model="pessoa.rg" placeholder="9.999.999-2">
        </div>
    </div>
</form>